@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #6bd5e5;
    --background-color: #222;
    --color: white;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #6bd5e5;
    --background-color: white;
    --color: #222;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: var(--background-color);
  color: var(--color);
  overflow-x: hidden;
}

main,
header,
footer {
  padding: 1rem;
  margin: 0 auto;
  width: 1024px;
  max-width: 100vw;
}

#line-top {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}

header {
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  margin-bottom: 1rem;
  z-index: 2;
}

header>img {
  width: 300px;
  max-width: 90vw;
}

@media screen and (min-width: 1024px) {
  header::before, header::after {
    content: "";
    position: absolute;
    top: calc(100px - 1rem);
    width: 50vw;
    height: 150px;
    background-color: var(--background-color);
  }
  
  header::before {
    border-radius: 0 1rem 0 0;
    left: 0;
    transform: translateX(-100%);
  }
  
  header::after {
    border-radius: 1rem 0 0 0;
    right: 0;
    transform: translateX(100%);
  }
}

footer {
  margin-top: 2rem;
  color: #888;
}

h1, h2, h3, h4 {
  font-family: 'Comfortaa', sans-serif;
}

main > h2 {
  margin-top: 3rem;
}

#flow-chart-wrapper {
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid #888;
  max-width: fit-content;
}

#flow-chart {
  width: 500px;
  height: 500px;
  max-width: calc(100vw - 2rem - 2px);
  overflow: auto;
  box-sizing: border-box;
  background-color: #fff;
  padding: 1rem 0;
}

#flow-chart > img {
  max-width: 100%;
}

a:visited, a {
  color: var(--accent-color);
  text-underline-offset: 2px;
}

li {
  margin-bottom: 0.5rem;
}

hr {
  border-width: 5px;
  border-color: var(--accent-color);
  border-style: solid;
  border-radius: 5px;
  opacity: 0.4;
}

aside {
  font-style: italic;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #8884;
}